body > header{
    width: 100vw;
    background-image: linear-gradient(#121e3c, var(--background)) ;
    display: flex;
    flex-grow: row wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}

body > header > a{
    width: 10rem;
}

body > header > nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

body > header > nav a{
    color: var(--text-gray);
    font-weight:400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

body > header > nav a::after{
    content: "";
    width: 100%;
    height: 0.05rem;
    background-color: var(--text-white);
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;

}

body > header > nav a:hover::after{
    transform-origin: left center;
    transform: scaleX(1);
}

body > header > nav a:first-child{
    color: var(--text-white);
}

body > header > form{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

body > header > form input[type="checkbox"]{
    display: none;
}

body > header > form label{
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header > form label svg{
    fill: var(--text-white);
    height: 100%;
    object-fit: contain;
}

[for="#btnMenu"]{
    display: none;
}

body > header > form > nav{
    display: none;
}


    /* fondo difumado */
body::before{
    content: "";
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(46, 46, 46, 0.2);
    backdrop-filter: blur(4px);
    display: none;
}

/* Algun elemento dentro del body tiene que comlir cierta condicion (has) */
body:has(#actions input[type="checkbox"]:checked)::before{
    display: flex;
}



@media(max-width:1032px) {
    body > header > nav {
        display: none;
    }
    body > header > form {
        flex: 1;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    [for="#btnMenu"]{
        display: flex;
    }

    body > header > form > nav {
        position: fixed;
        top: 5rem;
        left: calc(25% / 2);
        width: 75%;
        background-color: var(--nav-bg);
        border: 0.25rem solid var(--electric);
        border-top: 0;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
        border-radius: 0 0 1rem 1rem;
        z-index: 1;
        gap: 1rem;
        transform: translateY(-100vh);
        transition: all 300ms ease-in-out;
    }

    body > header > form > nav a {
        color: var(--text-gray);
        font-weight: 400;
        transition: all 250ms ease-in-out;
    }

    body > header > form > nav a:active{
        color: var(--text-white);
    }

    body > header > form > nav a:hover{
        color: var(--text-white);
    }

    #btnMenu:checked ~ nav{
        transform: translateX(0);
    }

}