body > main {
    width: 100%;
    color: var(--text-white);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 4rem 1rem;
    background-color: var(--background);
}

#hero{
    scroll-snap-align: start;
    scroll-margin-top: 1rem;
}


#content_hero{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#content_hero h1{
    font-size: 3rem;
    background-image: linear-gradient(to top, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    animation: slideup 1s ease-in-out 1 forwards;
}

#content_hero p{
    color: var(--text-gray);
    animation: slideup 1s ease-in-out 25ms 1 forwards;
}

#content_hero a {
    background-color: var(--primary);
    color: var(--text-white);
    align-self: flex-start;
    padding: .75rem 1.25rem;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    animation: slideup 1s ease-in-out 50ms 1 forwards;
}

#content_hero a:hover{
    background-color: var(--fire);
}

#card_hero{
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 0.75rem;
    gap: 1rem;
    opacity: 0;
    transform: translate(4rem);
    animation: slideleft 1s ease-in-out 200ms 1 forwards;
}

#card_hero h3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card_hero span{
    background-color: var(--primary);
    color: var(--text-white);
    font-weight: 700;
    text-align: center;
    padding: 0.25rem 1.25rem;
    border-radius: 0.75rem;
}

#card_hero ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#card_hero ul li{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#card_hero ul li dl{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card_hero ul li .user{
    flex: 1;
}

@media (max-width: 1032px) {
    #card_hero{
        display: none;
    }

    #content_hero{
        width: 50%;
        align-items: center;
        text-align: center;
    }

    #content_hero > a{
        align-self: center;
    }
}

/* Animaciones */

@keyframes slideup{
    from{
        opacity: 0;
        transform: translateY(4rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideleft{
    from{
        opacity: 0;
        transform: translateX(4rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* Efecto de escritura Typewrite */

#content_hero h1 span{
    position: relative;
    background: linear-gradient(to top, #30cfc0, #c43ad6);
    background-clip: text;
    color: transparent;
}

#content_hero h1 span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    transform-origin: right;
    animation: type 1s 1s steps(6) forwards;
}

#content_hero h1 span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.25rem;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to top, #30cfd0, #c43ad6);
    animation: move 1s 1s steps(6) forwards, blink 500ms 1s infinite;
}

/* Animacion */

@keyframes type{
    from{
        transform: scaleX(1);
    }
    
    to{
        transform: scaleX(0);
    }
}

/* Movimiento */

@keyframes move{
    from{
        left: 0;
    }
    
    to{
        left: calc(100% + 0.25rem);    

    }
}

/* Animacion de parpadeo*/

@keyframes blink{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* sacar efecto de mobile */

@media (max-width: 1032px){

    #content_hero h1 span::before {
        transform: scaleX(0);
        animation: none;
    }

    #content_hero h1 span::after{
        left: calc(100% + 0.25rem);
        opacity: 0;
        animation: none;
    }
}

