#info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: var(--text-white);
    background-color: var(--background);
}

#info header{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideup 1s ease-out 1 300ms forwards;
}

#info ul{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

#info ul li{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    width: 320px;
    aspect-ratio: 1/1;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(4rem);
}

#info ul li picture{
    height: 72px;
}

#info ul li article{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
}

#info ul li:nth-child(1){
    animation: slideup 1s ease-in-out 325ms 1 forwards;
}

#info ul li:nth-child(2){
    animation: slideup 1s ease-in-out 350ms 1 forwards;
}

#info ul li:nth-child(3){
    animation: slideup 1s ease-in-out 375ms 1 forwards;
}

@media (max-width: 1032px) {
    #info header h2{
        text-align: center;
    }
    #info ul{
        flex-wrap: wrap;
    }
}

@media (max-width:768px) {
    #info ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}